
@{
    ViewBag.Title = "AddUser";
}

<h2>AddUser</h2>

<form method="post" action="AddUser">
    <p>Введите имя </p>
    <input type="text" name="userFirstName" />
    <p>Введите фамилию :</p>
    <input type="text" name="userSecondName" />
    <p>Введите логин :</p>
    <input type="text" name="userLogin" />
    <p>Введите пароль :</p>
    <input type="text" name="userPassword" />
    <input type="submit" value="Отправить" />
</form>